<div class="example-card" appearance="outlined">
  <div class=" grid gap-8 " *ngIf="title" >
    <span style="margin: 5px; font-size: 16px; font-weight: bolder; color: rgb(78, 78, 78);">{{title}} </span>
    <ng-content></ng-content>
  </div>

  <table [dataSource]="dataSource" mat-table>

    <ng-container *ngFor="let column of columns">
      <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">

        <ng-container>
          <th id="headerTable" *matHeaderCellDef [ngClass]="column.css">
            {{column.label }}
            <div *ngIf="column.property =='year' && column.onChange">
              <input class="input-search" placeholder="Filter by year"
                (input)="column.onChange($event)" />
            </div>
            <div *ngIf="column.property =='winner' && column.onChange">
              <select class="select-filter" (change)="column.onChange($event)">
                <option value="">Yes/No</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>


          </th>
        </ng-container>
        <td *matCellDef="let row">
          <div id="id-cell-column">
            {{ row[column.property]?.label || row[column.property]}}
          </div>
        </td>
        <tr *ngIf="!dataSource?.data?.length">
          <td [attr.colspan]="columns.length">
            Dados não encontrados.
          </td>
        </tr>
      </ng-container>

    </ng-container>

    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>

    <tr *matRowDef="let row; columns: visibleColumns;" mat-row></tr>
  </table>
</div>