<div class="example-card" appearance="outlined">
  <div class=" grid gap-8 " *ngIf="title" >
    <span style="margin: 5px; font-size: 16px; font-weight: bolder; color: var(--colo-title)">{{title}} </span>
    <ng-content></ng-content>
  </div>


  <table class="custom-table">
    <thead>
      <tr>
        <th *ngFor="let column of columns" [ngClass]="column.css">
          {{column.label}}
          
          <!-- filter by year -->
          <div *ngIf="column.property === 'year' && column.onChange" class="filter-container">
            <input class="input-search" 
                   placeholder="Filter by year"
                   type="number"
                   (input)="onColumnChange(column, $event)" />
          </div>
          
          <!-- filter by winner -->
          <div *ngIf="column.property === 'winner' && column.onChange" class="filter-container">
            <select class="select-filter" (change)="onColumnChange(column, $event)">
              <option value="">All</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let row of dataSource?.data" class="data-row">
        <td *ngFor="let column of columns" >
          <div class="cell-content">
            <span >
              {{ getValue(row, column.property) }}
            </span>
          </div>
        </td>
      </tr>
      
      <!-- not found -->
      <tr *ngIf="!dataSource?.data?.length" class="no-data-row">
        <td [attr.colspan]="columns.length" class="no-data-cell">
          {{messageData}}
        </td>
      </tr>
    </tbody>
  </table>
</div>