
  <mat-card class="example-card" appearance="outlined" style="padding: 5px;">
  <table mat-table  [dataSource]="dataSource" mat-table matSort>

  <ng-container *ngFor="let column of columns">
    <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
      <ng-container *ngIf="column.sortable">
          <th *matHeaderCellDef sortable="column"  id="headerTable" class="header-gray pl-2 pr-2 graphic-medium color-header weight-600">
          {{ column.label }}
        </th>
      </ng-container>
      <ng-container *ngIf="!column.sortable">
          <th id="headerTable" class="header-gray pl-2 pr-2 graphic-medium color-header weight-600"  *matHeaderCellDef >
          {{ column.label }}
        </th>
      </ng-container>
        <td *matCellDef="let row"  >
          <div id="id-cell-column"   class=" pl-2 pr-2 graphic-regular">
          {{ row[column.property]?.label || row[column.property]}}
        </div>
      </td>
    </ng-container>

  </ng-container>

  <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>

  <tr *matRowDef="let row; columns: visibleColumns;" mat-row></tr>
</table>
</mat-card>
