.menu{
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 10px;
    background-color: rgb(231, 231, 231);
}
.menu .item {
    padding: 10px;
    border: 1px solid #dbdbdb;
    margin: 5px;
    border-radius: 10px;
}