.menu{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:#F5F5FA;
    height: 100%;
    text-align: left;
}
.menu .item {
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.menu a{
    text-decoration: none;
}