<div class="card-shadow p-10 m-20" >

    <div>
        <h3>List movies</h3>
    </div>

    <div style="margin: 20px;">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <app-widget-table [columns]="columns" [dataSource]="dataSource"></app-widget-table>
        <!-- paginated -->
        <div *ngIf="pageData" class="paginator">
            <div *ngIf="pageData" style="display: flex; justify-content: center;  align-items: center; ">
                <button matIconButton (click)="goToFirstPage()" [disabled]="pageable.pageNumber === 0">
                    <mat-icon>first_page</mat-icon>
                </button>
                <button matIconButton (click)="onPreviousPage()" [disabled]="pageable.pageNumber === 0">
                    <mat-icon>arrow_left</mat-icon>
                </button>
                <div class="page-numbers">
                    <button *ngFor="let page of getVisiblePages()" [class.active]="page === pageable.pageNumber + 1"
                        (click)="goToPage(page - 1)" class="page-number-btn">
                        {{ page }}
                    </button>
                </div>
                <button matIconButton (click)="onNextPage()"
                    [disabled]="pageable.pageNumber + 1 >= pageData.totalPages">
                    <mat-icon>arrow_right</mat-icon>
                </button>
              <button matIconButton (click)="goToLastPage()"
                    [disabled]="pageable.pageNumber + 1 >= pageData.totalPages">
                    <mat-icon>last_page</mat-icon></button>
            </div>
        </div>
    </div>




</div>