/* You can add global styles to this file, and also import other style files */
:root {
    --background-gray-100: #F0F0F0;
    --background-gray-300: #c7c7c7;
    --colo-title: #4e4e4e;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.p-10{
    padding: 10px;
}
.m-20{
    margin: 20px;
}
.select-filter{
        padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--background-gray-300);
    width: 90%;
}
.input-search{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--background-gray-300);
    width: 90%;
}
.input-search:focus{
    outline: none;
}
.text-center{
    text-align: center!important;
}
.grid{
    display: grid;
}
.gap-8{
    gap: 8px;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.mb-20{
    margin-bottom: 20px;
}
.m-4{
    margin: 10px 0px 10px 0px;
}
.mat-cell {
  padding: 0px !important; /* Exemplo: padding de 4px */
  border-bottom: 0px solid rgba(0, 0, 0, 0.12); /* Ajuste da borda */
}

.mat-header-cell {
  padding: 0px !important; /* Exemplo: padding do header */
}